@import "_includes/reset.scss";
@import "_includes/variables.scss";
@import "_includes/mixins.scss";
@font-face {
	font-family: 'alien';
	src: url("../source/we-are-alien/wearealien.ttf");
}
$primary-color: rgba(0,75,15);
$secondary-color: rgba(255,255,255);

body {
	background-image: url("../source/img/BG.jpg");
	background-repeat: repeat;
	background-size: 50%;
	padding: 3.5% 5%;
	margin-right: auto;
	margin-left: auto;
	font-family: "alien", sans-serif;
	font-size: 1.3rem;
}

h1 {
	font-weight: bold;
}

img {}

section {
	display: grid;

	&.master-header {
		grid-template-columns: 1fr 2fr;
		padding: 2.5%;

		.col-left {}

		.col-right {}
	}

	&.two-col {
		grid-template-columns: 1fr 1fr;

		.col-left {
			background: darkred;
		}

		.col-right {
			background: blueviolet;
		}
	}

	&.two-col-revers {
		grid-template-columns: 1fr 1fr;

		.col-left {
			order: 2;
			background: darkred;
		}

		.col-right {
			order: 1;
			background: blueviolet;
		}
	}
}

.boutton:link {
	color: black;
	padding-left: 43%;
	transition-property: all;
	transition-delay: 1s;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

.boutton:visited {
	color: $primary-color;
	padding-left: 43%;
}

.container {
	padding: 2.5% 5%;
	margin-right: auto;
	margin-left: auto;
	background-color: $secondary-color;
}

.container-header {
	padding: 1% 5%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5.1rem;
	height: 48rem;
	background-color: $secondary-color;
}

.logo {
	margin-left: 43%;
	margin-bottom: 1.4rem;
}

.logoImg {
	width: 13rem;
	height: 13rem;
}

.master-header {}

.titre {
	text-align: center;
	font-size: 4rem;
}

::selection {
	color: $secondary-color;
	background: $primary-color;
}